<ion-header no-border translucent>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{regionAffected === 'all' ? 'Worldwide' : regionAffected}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="_countryFilter" (ionInput) ="performFilter()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [virtualScroll]="filteredCountries" [approxHeaderWidth]="'132px'" [approxItemHeight]="'40px'">
    <ion-item *virtualItem="let country" (click)="onClick($event, country)">
      <ion-avatar item-start>
        <img cache="true" [src]="country.countryInfo.flag" [alt]="country.country">
      </ion-avatar>
      <ion-label>
        <h2>{{country.country}}</h2>
        <p>Confirmed: {{country.cases | number}}</p>
      </ion-label>
      <ion-note item-end>{{country.updated |dateConvertor}}</ion-note>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="countriesAffected"> -->
  <!-- <ion-list >
    <ion-item *ngFor="let country of filteredCountries" (click)="onClick($event, country)">
      <ion-avatar item-start>
        <img [src]="country.countryInfo.flag" [alt]="country.country">
      </ion-avatar>
      <ion-label>
        <h2>{{country.country}}</h2>
        <p>Confirmed: {{country.cases}}</p>
      </ion-label>
      <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
  </ion-list>-->
</ion-content>
