page-country-detail {

  .detailCaseContainer{
    background-color:#F8F8F8;
    ion-card{
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      box-shadow: none;
      img{
        height: 190px;
      }
      ion-card-content{
        background: rgba($color: #0d8e53, $alpha: 0.12);
        ion-grid{
          div{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }

}
