<ion-header no-border translucent>
  <ion-navbar>
    <ion-title>{{countryCase.country}}</ion-title>
    <ion-buttons end>
      <button color="primary" ion-button icon-only (click) = 'toggleFavorites()' *ngIf='!isFavorite'>
        <ion-icon name="ios-star-outline"></ion-icon>
      </button>
      <button color="primary" ion-button icon-only (click) = 'toggleFavorites()' *ngIf='isFavorite'>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="countryCaseByDate" (ionChange)="fetchCountryCaseByDate()">
      <ion-segment-button value="yesterday">Yesterday</ion-segment-button>
      <ion-segment-button value="today">Today</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="detailCaseContainer">
  <ion-refresher (ionRefresh)="refreshData(countryCase.country)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <img [src]="countryCase.countryInfo.flag" [alt]="countryCase.country">
    <ion-card-content>
      <ion-grid>
        <div>
          <ion-note>Update {{countryCase.updated | dateConvertor}}</ion-note>
            <button clear color="dark" icon-only ion-button (click) = 'gotoMap(countryCase.country)'>
              <ion-icon ios="ios-navigate" md="ios-navigate"></ion-icon>
            </button>
        </div>
        <ion-row>
          <ion-col col-5>
            Confirmed cases:
          </ion-col>
          <ion-col col-4>
            {{countryCase.cases | number}}
          </ion-col>
          <ion-col col-3>
            {{countryCase.todayCases | number | prefix}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            Total deaths:
          </ion-col>
          <ion-col col-4>
            {{countryCase.deaths | number}}
          </ion-col>
          <ion-col col-3>
            {{countryCase.todayDeaths | number | prefix}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            Total recovered:
          </ion-col>
          <ion-col col-4>
            {{countryCase.recovered | number}}
          </ion-col>
          <ion-col col-3>
            {{countryCase.todayRecovered | number | prefix}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            Active cases:
          </ion-col>
          <ion-col col-4>
            {{countryCase.active | number}}
          </ion-col>
          <ion-col col-3>
            --
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            Critical cases:
          </ion-col>
          <ion-col col-4>
            {{countryCase.critical | number}}
          </ion-col>
          <ion-col col-3>
            --
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            Total tests:
          </ion-col>
          <ion-col col-4>
            {{countryCase.tests | number}}
          </ion-col>
          <ion-col col-3>
            --
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
