// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
  font-family: Roboto Condensed;
}

.menu-header-bg{
  height: 180px;
  width: 350px;
  background: #0d8e53;
  background: linear-gradient(90deg, rgba(96,190,147,0.7) 0%, rgba(27,141,89,0.8) 100%);
  box-shadow: 0px 1px 10px rgba(68, 243, 164, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin: -50px 0px 60px -18px;
}

.menu-items{
  margin: 0;
  button{
    padding-left: 40px;
  }
  .active{
    border-left: 10px solid !important;
    font-weight: 600;
    color: #0d8e53;
    padding-left: 30px;
    background: rgba($color: #0d8e53, $alpha: 0.09);
  }
}
