  <!-- <div *ngIf="showSplash" class="splash">
    <div class="spinner"></div>
  </div> -->

  <ion-menu [content]="content" type="overlay">
    <ion-content>
      <div class="menu-header-bg"></div>
      <ion-list no-lines class="menu-items">
        <button menuClose ion-item *ngFor="let p of pages" [class.active]="checkActive(p)" (click)="openPage(p)">
          {{p.regionAffected}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

